@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Regular.ttf") format("opentype");
}

* {
    font-family: 'Montserrat';
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, 
.col-md-5, .col-md-6, .col-md-7, .col-md-8, 
.col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
}

@media (min-width: 768px) {
    .col-md-1 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
    }
    .col-md-2 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }
    .col-md-3 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-md-4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
    .col-md-5 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }
    .col-md-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-md-7 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }
    .col-md-8 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }
    .col-md-9 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }
    .col-md-10 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }
    .col-md-11 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
        max-width: 91.666667%;
    }
    .col-md-12 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

header .logo img {
    color: #FFFFFF;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 32px;
}

header {
    background-image: url('../img/back.png');
    width: 100%;
}

.logo {
    max-width: 30%;
    display: flex;
    align-items: center;
    color: #FFFFFF;
} 

.logo span {
    color: #FFFFFF;
    margin-left: 13px;
    font-size: 9px;
    line-height: 13px;
}

header .menu ul {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
}

header .menu ul li {
    margin-right: 50px;
    padding-bottom: 20px;
    border-bottom: 2px;
}

header .menu ul li.active {
    color: #ed2985;
    border-bottom: 2px solid #ed2985;
}

.menu ul li {
    color: #FFFFFF;
    list-style: none;
    font-size: 14px;
}

.menu ul li:hover {
    color: #ed2985;
}

hr {
    color: #3E3F51;
    height: 1px;
    border: 2px;
}

h1 {
    color: #FFFFFF;
    text-align: center;
    font-size: 50px;
    font-weight: normal;
    margin-top: 130px;
}

.text {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 100px;
    position: relative;
}
    
.text p {
    color: #BCBEC0;
    font-size: 16px;
    margin-bottom: 20px; 
    margin-top: 65px;
}

.text button { 
    margin-top: 35px;
    padding: 12px 12px;
    size: 16px;
    background-color: #ED2985;
    color: #FFFFFF;
    border: 1px solid #ED2985;
}

header .text .circle {
    border: 1px solid #fff;
    border-radius: 50%;
    height: 200px;
    opacity: .2;
    position: absolute;
    right: 35px;
    top: 0px;
    width: 200px;
}

section h2.main {
    color: #242539;
    font-size: 40px;
    margin-top: 160px;
    font-weight: normal;
}

.description {
    display: flex;
    justify-content: space-between;
}

span.numbers {
    color: #ED2985;
    font-size: 40px;
    margin-right: 59px;
}

.number_el {
    display: flex;
    margin-bottom: 50px;
}

.number_el span.other {
    color: #242539;
    text-align: left;
    font-size: 18px;
}

.photo_partner img {
    max-width: 470px;
    width: 100%;  
}

.description button {
    margin-left: 320px;
    padding: 5px 20px;
    margin-top: 10px;
    background-color: #FFFFFF;
    color: #242539;
    font-size: 16px;
}

h2.client {
    color: #242539;
    font-size: 40px;
    font-weight: normal;
    margin-top: 160px;
    margin-bottom: 142px;
}

.clients {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.clients img {
    margin-right: 60px;
    max-width: 200px;
    margin-bottom: 50px;
}

h2.say {
    font-size: 40px;
    font-weight: normal;
    margin-top: 160px;
    margin-bottom: 100px;
}

.block_about_client {
    display: flex;
    justify-content: center;
    background-color: #F3F3F5;
}

.asd-technology {
    margin-bottom: 100px;
}

.asd-technology .row {
    align-items: center;
}

.asd-technology .photo_partner {
    text-align: center;
}

.travel-background-image {
    background-image: url('../img/michael-shannon-p-Z6goDpoMo-unsplash.png');
    background-color: #242539;
    background-position: left 120% top 0;
    background-repeat: no-repeat;
    background-size: contain;
}

.travel-background-image .industries {
    padding: 190px 0;
}

.travel-background-image button {
    background-color: #242539;
    border: 1px solid #3E3F51;
    color: #fff;
    align-items: center;
    cursor: pointer;
    display: flex;
    font-size: 16px;
    font-weight: 500;
    height: 53px;
    justify-content: center;
    text-align: center;
    width: 255px;
}

.travel-background-image .descr {
    font-size: 18px;
    max-width: 600px;
    line-height: 2;
}

.travel-background-image .pink-line {
    border-bottom: 1px solid #ed2985;
    height: 1px;
    margin-right: 20px;
    width: 50px;
}

.travel-background-image .flex {
    display: flex;
    align-items: center;
}

.description_partner button {
    background-color: #FFFFFF;
    color: #242539;
    border: 1px solid #242539;
    padding: 12px 81px;
    margin-left: 110px;
}

.industries p.main_industries {
    font-size: 14px;
    color: #FFFFFF;
} 

.industries h2.main_industries {
    color: #FFFFFF;
    font-size: 40px;
}

.industries p {
    color: #FFFFFF;
}

.clients_ceo .response {
    text-align: left;
    margin-left: 50px;
}

.response p {
    font-size: 25px;
    margin: 0;
    margin-bottom: 60px;
}

.ceo_photo img {
    max-width: 100px;
}

.ceo_photo p.andres {
    font-size: 14px;
    font-weight: bold;
}

.ceo_photo p {
    color: #676774;
    font-size: 12px;
    
}

.arrows {
    display: flex;
    justify-content: center;
}

.arrows .icon {
    width: 50px;
    height: 50px;
    line-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid #1E1E2C;
    margin: 0 10px;
}

.our_clients_say .button {
    display: flex;
    align-items: center;
    margin-bottom: 60px;
}

.our_clients_say .button .rectangle {
    cursor: pointer;
    height: 3px;
    margin: 0 6px;
    width: 30px;
    background-color: #dadada;
}

.our_clients_say .button .rectangle.color {
    background-color: #ed2985;
}

.arrows .icon img {
    max-width: 20px;
}

h2.case {
    font-size: 40px;
    font-weight: normal;
    margin-bottom: 80px;
}

.caseOne p.soft {
    font-size: 12px;
    padding: 8px 15px;
    max-width: 100px;
    background-color: #F3F3F5;
    color: #676774;
    text-align: center;
    margin-bottom: 20px;
}

.caseOne p.soft_main {
    font-size: 25px;
    color: #242539;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 13px;
}

.caseOne p {
    font-size: 18px;
    color: #242539;
}

button.case {
    padding: 12px 62px;
    background-color: #FFFFFF;
    border: 1px solid #242539;
    font-size: 16px;
    max-width: 260px;
    margin: 0 auto;
    width: 100%;
    margin-top: 60px;
    margin-bottom: 160px;
    display: flex;
    justify-content: center;
}

.caseOne img {
    margin-bottom: 30px;
    width: 100%;
}

.awards p {
    font-size: 50px;
    margin: 0px;
}

.main_awards {
    background-color: #F3F3F5;
    padding-top: 150px;
    padding-bottom: 150px;
}

.phAwards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.our_clients_say {
    background-color: #F3F3F5;
    margin-top: 100px;
    margin-bottom: 160px;
}

.srevices h2 {
    margin-top: 164px;
    color: #242539;
    font-size: 50px;
    text-transform: uppercase;
}

.srevices ul {
    list-style: none;
    padding-left: 0px;
}

.srevices ul li {
    margin-bottom: 35px;
}

.srevices ul li span {
    padding-bottom: 5px;
}


.srevices ul li span:hover {
    border-bottom: 3px solid #ED2985;
}

.srevices button {
    padding: 13px 81px;
    color: #242539;
    background-color: #FFFFFF;
    border: 1px solid #242539;
    margin-top: 161px;
}

.descriotion_services img {
    margin-top: 120px;
    margin-bottom: 169px;
    width: 100%;
}

p.develop {
    color: #242539;
    font-size: 18px;
}

h2.tell_us {
    font-size: 70px;
    color: #F9F9F9;
    font-weight: normal;
}

.form {
    background-color: #121221;
}

.textForm p {
    font-size: 22px;
    color: #F9F9F9;
    font-weight: bold;
}

.developBlock {
    position: absolute;
    background-color: #fff;
    padding: 20px;
    bottom: 200px;
    width: 400px;
    right: 0;
}

p.share {
    font-size: 18px;
    color: #F9F9F9;
    max-width: 326px;
    font-weight: normal;
}

p.details {
    font-size: 18px;
    color: #F9F9F9;
    max-width: 326px;
    font-weight: normal;
}

.textForm p.contact {
    font-size: 18px;
    color: #F9F9F9;
    font-weight: normal;
    margin-bottom: 221px;
}

.textForm p.contact span {
    color: #ED2985;
}

.formsFlex input {
    background-color: #1E1E2C;
    padding: 22px 20px;
    border: 2px solid #1E1E2C;
    color: #FFFFFF;
    margin-right: 20px;
    margin-bottom: 30px;
}

.formsFlex input:hover {
    border-bottom-color: #ED2985;
}

textarea:hover {
    border-bottom-color: #ED2985;
}

.formsFlex input:active {
    border: 1px solid #1E1E2C;
}

textarea {
    background-color: #1E1E2C;
    border: 2px solid #1E1E2C;
    color: #FFFFFF;
    max-width: 446px;
    width: 100%;
    height: 227px;
    margin-bottom: 53px;
}

button.submit {
    background-color: #ED2985;
    border: 1px solid #ED2985;
    padding: 13px 98px;
    color: #FFFFFF; 
    margin-bottom: 160px;
}

hr {
    height: 1px;
    background-color: #3E3F51;
    margin: 0px 0px;    
}

footer {
    background-color: #121221;
    position: relative;
    padding-bottom: 50px;
}

.asd_logo {
    margin-top: 105px;
}

.services_element {
    margin-top: 105px;
}

.travel_elements {
    margin-top: 105px;
}

.Resources_elements {
    margin-top: 105px;
}

.Company_elements {
    margin-top: 105px;
}

.element_servises p {
    color: #fff;
    font-size: 25px;
    font-weight: normal;
}

.element_servises ul {
    padding-left: 0px;
}

.element_servises li {
    color: #676774;
    font-size: 16px;
    list-style: none;
    margin-bottom: 15px;
}

footer .icons {
    display: flex;
}

.icons .icn {
    width: 65px;
    height: 65px;
    line-height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid #1E1E2C;
    margin: 0 10px;
}

.icons img {
    max-width: 25px;
}

.copyright {
    background-color: #121221;
}

.copyright p {
    color: #676774;
    display: flex;
    font-size: 14px;
    font-weight: 300;
    justify-content: center;
    padding: 35px 0;
}

.Company_elements {
    position: relative;
}

.social-links-container {
    position: absolute;
    right: 0;
    bottom: -90px;
}

.latest_blog h3 {
    color: #fff;
    font-size: 22px;
}

.latest_blog .latest-slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.latest_blog .latest-slider .list-event {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.latest_blog .latest-slider .list-event .block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}

.latest_blog .latest-slider .list-event .block .data {
    align-items: center;
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    font-weight: 600;
    height: 49px;
    justify-content: center;
    line-height: 25px;
    margin-right: 15px;
    width: 47px;
}

.latest_blog .latest-slider .list-event .block .data .up {
    font-size: 25px;
    margin-bottom: -6px;
    padding-top: 6px;
}

.latest_blog .latest-slider .list-event .block .data .down {
    font-size: 10px;
    letter-spacing: 3px;
    margin-bottom: -6px;
    padding-bottom: 6px;
    text-transform: uppercase;
}

.latest_blog .latest-slider .list-event .block .descr {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #fff;
    text-decoration: none;
}

.latest_blog .latest-slider .left {
    background-image: url('../img/left_arrow.png');
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    color: transparent;
    outline: none;
    height: 34px;
}

.latest_blog .latest-slider .right {
    background-image: url('../img/right_arrow.png');
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    color: transparent;
    outline: none;
    height: 34px;
}



.latest_blog .latest-slider .list-event .block:hover .data {
    background-color: #ED2985;
    color: #fff;
}

.latest_blog .latest-slider .list-event .block:hover .descr p {
    color: #ED2985;
}



@media (max-width: 767px) {
    
    header .menu ul {
        display: none;
    }

    header .menu .mMenu span.line {
        border-bottom: 3px solid #ed2985;
        height: 5px;
        width: 30px;
        display: block;
        margin-bottom: 5px;
    }

    header .menu .mMenu {
        margin-bottom: 20px;
    }

    header .logo {
        margin-bottom: 20px;
    }

    header h1 {
        font-size: 27px;
        margin-top: 60px;
    }

    header .text p {
        text-align: center;
    }

    header .text button {
        margin-bottom: 60px;
    }

    section h2.main {
        margin-top: 60px;
    }

    .asd-technology .row {
        flex-direction: column-reverse;
    }

    .asd-technology .photo_partner {
        text-align: center;
        margin-bottom: 40px;
    }

    .asd-technology .description_partner {
        margin-bottom: 40px;
    }

    .description_partner button {
        margin: 0 auto;
        width: 100%;
    }

    .clients img {
        max-width: 110px;
    }

    h2.client {
        margin-bottom: 60px;
        margin-top: 100px;
    }

    h2.say {
        margin-top: 100px;
    }

    .awards p {
        margin-bottom: 46px;
    }

    .phAwards img {
        max-width: 90px;
    }

    .travel-background-image .industries {
        padding: 60px 0;
    }

    .srevices h2 {
        margin-top: 60px;
    }

    .travel_elements {
        margin-top: 40px;
    }

    .textForm p.contact {
        margin-bottom: 80px;
    }

    h2.tell_us {
        font-size: 40px;
    }

    footer {
        padding-bottom: 40px;
    }

    button.submit {
        margin-bottom: 60px;
    }

    .asd_logo {
        margin-top: 60px;
    }

    .services_element {
        margin-top: 60px;
    }

    .Resources_elements {
        margin-top: 60px;
    }

    .Company_elements {
        margin-top: 60px;
    }

    .our_clients_say {
        margin-bottom: 60px;
    }

    .srevices button {
        margin-top: 60px;
    }

    .descriotion_services img {
        margin-top: 60px;
        margin-bottom: 60px;
    }

    .developBlock {
        position: relative;
        bottom: 0;
        width: 100%;
    }
    
    footer .element_servises {
        min-width: 300px;
    }

    .latest_blog .latest-slider .list-event .block:nth-child(2n) {
        display: none;
    }

    .latest_blog .latest-slider button {
        display: none;
    }

    .latest_blog .latest-slider .list-event .descr p {
        font-size: 16px;
    }

    .latest_blog .button {
        display: flex;
        align-items: center;
        margin-bottom: 60px;
    }

    .latest_blog .button .rectangle {
        cursor: pointer;
        height: 3px;
        margin: 0 6px;
        width: 30px;
        background-color: #dadada;
    }

    .latest_blog .button .rectangle.color {
        background-color: #ed2985;
    }

    .social-links-container {
        position: relative;
        bottom: 0;
    }

}

@media (min-width:768px) and (max-width: 1199px) {
    
    header .logo {
        max-width: none;
        margin-right: 15px;
    }
    
    header .menu {
        max-width: none;
    }

    header .menu ul {
        padding: 0;
    }

    header .menu ul li {
        font-size: 12px;
        margin-right: 15px;
    }

    .srevices button {
        margin-bottom: 100px;
    }

    footer .col-md-2,
    footer .col-md-3 {
        min-width: 250px;
    }

    .social-links-container {
        position: relative;
        bottom: 0;
    }
    
}
